html {
    padding: 50px;
}

body {
    background-color: #faf3dd;
}

#bigTitle span {
    color: #faf3dd;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    margin: 0 -5px;
    padding: 0 20px;
    background-color: #c884a6;
    font-size: 200%;
}

img {
    background-color: none;
}

#header {
	text-align: center;
}

#header h2 {
    font-size: 150%;
}

#navigate {
	text-align: center;
}

#navigate li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;	
}

#navigate button {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  	margin: 0 -5px;
  	padding: 0 20px;
	background-color: #FFFFFF;
}

#navigate button:hover {
    color: #c884a6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #c884a6;
}

.info-block h3 {
    color: #c884a6;
}

.code {
    background-color: #FFFFFF;
    border: 2px solid #F2EFE4;
    padding: 15px;
    margin: 25px;
    margin-right: 10%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    font-family: Consolas, Courier New, monospace;
}